:root {
    --clr-bg: hsl(0, 0%, 100%);
    --clr-text: hsl(0, 0%, 20%);

    --ff-main-header: 'Inconsolata', monospace;
    --ff-text: 'Space Mono', monospace;
    --fs-mobile: 1.125rem;
    --fs-desktop: 1.5rem
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-text);
    font-family: var(--ff-text);
}

header {
    margin: 1.25rem 0 4rem 1.5rem;
}

.header-logo {
    font-family: var(--ff-main-header);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.08em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
    margin-bottom: 7.125rem;
}

.img-wrapper {
    width: 286.83px;
    height: 238px;
}

.content-text-wrapper {
    margin-left: 1.5rem;
    position: relative;
}

.content-title {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.035em;
    margin-bottom: 1.875rem;
}

.content-text {
    color: #4F4F4F;
    margin-right: 1.5rem;
    margin-bottom: 4.125rem;
}

.homepage-btn {
    background-color: var(--clr-text);
    color: var(--clr-bg);
    padding: 1.5rem 2.6875rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
}

footer {
    color: #BDBDBD;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

@media (min-width: 900px) {
    body {
        min-height: 100vh;
        padding: 2.5rem 7.4375rem 1.5rem 4.8125rem;
        display: flex;
        flex-direction: column;
    }

    header {
        /* margin: 2.5rem 0 12.5rem 4.8125rem; */
        margin-bottom: 12.5rem;
    }

    main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 7.5rem;
        flex: 1;
    }

    main > * {
        flex-shrink: 1;
    }

    .img-wrapper {
        width: unset;
        height: unset;
        max-width: 539.22px;
        max-height: 447.43px;
        margin-left: 4.8125rem;
    }

    .content-title {
        margin-bottom: 2.25rem;
        line-height: 95px;
        letter-spacing: -0.035em;
    }

    .content-text {
        max-width: 381px;
        font-size: 1.5rem;
        line-height: 36px;
        letter-spacing: -0.035em;
        margin-bottom: 4rem;
    }

    footer {
        margin-bottom: 0;
    }
}